@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #444; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(83, 92, 104, 1) 100%,
    rgba(41, 153, 181, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow-x: hidden;

  /* background: rgba(255, 255, 255, 0.5);   */
  /* opacity: 0.3; */
}

header {
  background-image: url("/public/img/bg.jpg");
  background-size: cover;
  background-position: center;
}

/* styles.css or styles.scss */

/* .container-section {
  @apply max-w-screen-xl mx-auto px-4;  
} */

.container-section {
  @apply box-border mx-auto  md:w-[80vw] w-[85%] md:py-20  max-w-screen-xl justify-center items-center flex h-screen flex-col py-32;
}

.btn {
  @apply bg-slate-500 text-white py-3 px-10  hover:bg-zinc-400   rounded-lg transition-all duration-500 ease-in-out font-bold shadow-lg;
}

.transitional-el {
  @apply transition-all duration-500 ease-in-out;
}

/* .card {
  @apply mt-8   inline-block  rounded overflow-hidden shadow-md relative hover:shadow-2xl cursor-pointer transition-all duration-500;
} */

section {
  @apply my-32 py-10;
}
.cardClass {
  @apply text-white border border-white p-5 flex flex-col justify-center items-center rounded-lg bg-zinc-700 m-10 shadow-lg;
}

.BoldtitleClass {
  @apply font-bold text-green-400;
}

.listClassName {
  @apply text-white py-4;
}

/* Carousel */
.container {
  position: relative;
  width: 100%;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: marquee 20s linear infinite; /* Adjust speed here */
}

.image-wrapper {
  display: inline-block;
  width: 200px; /* Fixed width for images */
  height: 150px; /* Fixed height for images */
  padding: 0 20px; /* Space between images */
}

.image {
  width: 100%; /* Make the image fit its container */
  height: 100%; /* Make the image fit its container */
  object-fit: cover; /* Ensure aspect ratio is maintained */
}

@keyframes marquee {
  0% {
    transform: translateX(0); /* Start at 0 */
  }
  100% {
    transform: translateX(-50%); /* Move to the left by 50% of the content */
  }
}
